.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: orange;
  padding: 20px;
  gap: 30px;
  width: 60px;
  height: 100vh;
  /* position: absolute; */
  padding-bottom: 0;
  padding-top: 20px;
}

.componentclass {
  height: 100vh;
  width: 100vw;
  padding: 30px;
}

body {
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fadb;
}

.componentclasselement {
  gap: 70px;
  display: flex;
}

.mainUiclass {
  display: flex;
  flex-direction: column;
}

.UIclass {
  display: flex;
}

.barBox {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
}
.cardclass {
  display: flex;
  gap: 100px;
}

.cardelementclass {
  background-color: white;
  padding: 20px;
  box-shadow: 5px 8px;
  border-radius: 5px;
  width: 200px;
}

h2 {
  margin: 0;
}

svg {
  height: 80%;
  width: 80%;
  border: beige;
}
